.Side.bar
  .Side.bar__user-name
    .Side.bar__user-name__Top-items
      .Side.bar__user-name__Top-items__name 
        = current_user.name
      .Side.bar__user-name__Top-items__icons
        = link_to "#", class: "icons--edit" do
          = icon('far', 'edit', class: "icons--edit")
        =  link_to edit_user_path(current_user), class: "icons--cog" do
          = icon('fas', 'cog')
  .Side.bar__group-list
    .Side.bar__group-list__group
      .Side.bar__group-list__group__name
        techcamp
      .Side.bar__group-list__group__message
        まだメッセージはありません
    .Side.bar__group-list__group
      .Side.bar__group-list__group__name
        techcamp
      .Side.bar__group-list__group__message
        まだメッセージはありません


